@model DoktorlarTablosu

<form method="post">

    <input asp-for="DoktorId" hidden/>
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-success">Doktor Sil</h2>

        </div>


        <div class="mb-3">
            <label asp-for="DoktorAdi" class="p-0"></label>
            <input asp-for="DoktorAdi" disabled class="form-control" />
            
        </div>

        <div class="mb-3">
            <label asp-for="Uzmanlik" class="p-0"></label>
            <input asp-for="Uzmanlik" disabled class="form-control" />
            
        </div>

        <div class="mb-3">
            <label asp-for="GunHafta" class="p-0"></label>
            <input asp-for="GunHafta" disabled class="form-control" />
            
        </div>

        <div class="mb-3">
            <label asp-for="BaslamaSaati" class="p-0"></label>
            <input asp-for="BaslamaSaati" disabled class="form-control" />
            
        </div>

        <div class="mb-3">
            <label asp-for="BitisSaati" class="p-0"></label>
            <input asp-for="BitisSaati" disabled class="form-control" />            

        </div>

        <button type="submit" class="btn btn-success" style="width: 200px">Doktor Sil</button>

        <a asp-controller="DoktorlarTablosu" asp-action="Index" class="btn btn-success" style="width: 200px">
            Doktorlar Tablosuna Dön
        </a>

    </div>

</form>