@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/ >
    <h1 style="color:tomato" class="display-4"><strong>ÖZEL ADANA ACIBADEM HASTANESİ </strong></h1>
    <h1 style="color:tomato" class="display-4">HOŞ GELDİNİZ</h1>
    <br />
    <br />
    <p><img src="/img/ozel-acibadem.jpg"</p>
</div>
