@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/ >
    <h1 style="color:tomato" class="display-4"><strong>@_localization.GetKey("Welcome").Value</strong></h1>
    <br />
    <br />
    <p><img src="/img/ozel-acibadem.jpg"</p>
</div>
