@{
    ViewData["Title"] = "İletişim bilgileri :";
}

<div class="text-center">
        <br />
        <br />
        <h2 style="color:purple">@ViewData["Title"]</h2>
        <br />
        <br />
        <h3>Cumhuriyet sokağı Çukurova Apt. No:4</h3>
        <h3>Çukurova ADANA</h3>
        <h3>E-posta adresimiz:</h3>
        <br />
    <h3><a href="mailto:muammerkarakas8@gmail.com">muammerkarakas8@gmail.com</a></h3>
</div>