@model Randevu

<form method="post">

    <input asp-for="RandevuId" hidden />
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-success">Randevu Kayıt Sil</h2>

        </div>


        <div class="mb-3">
            <label asp-for="HastaId" class="p-0"></label>
            <input asp-for="HastaId" disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="DoktorRandevuId" class="p-0"></label>
            <select asp-for="DoktorRandevuId" asp-items="ViewBag.DoktorlarTablosuList" disabled class="form-select">
            </select>

        </div>

        <div class="mb-3">
            <label asp-for="GunHafta" class="p-0"></label>
            <input asp-for="GunHafta" disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="BaslamaSaati" class="p-0"></label>
            <input asp-for="BaslamaSaati" disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="BitisSaati" class="p-0"></label>
            <input asp-for="BitisSaati" disabled class="form-control" />

        </div>

        <button type="submit" class="btn btn-success" style="width: 200px">Randevu Kayıt Sil</button>

        <a asp-controller="Randevu" asp-action="Index" class="btn btn-success" style="width: 200px">
            Randevulara Dön
        </a>

    </div>

</form>