@model Randevu

<form method="post">

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-success">@(Model==null?"Randevu Ekle":"Randevu Güncelle")</h2>
            
        </div>

        <div class="mb-3">
            <label asp-for="HastaId" class="p-0"></label>
            <input asp-for="HastaId" class="form-control" />
            <span asp-validation-for="HastaId" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="DoktorRandevuId" class="p-0"></label>
            <select asp-for="DoktorRandevuId" asp-items="ViewBag.DoktorlarTablosuList" class="form-select">
            </select>           

        </div>

        <div class="mb-3">
            <label asp-for="GunHafta" class="p-0"></label>
            <input asp-for="GunHafta" class="form-control" />
            <span asp-validation-for="GunHafta" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="BaslamaSaati" class="p-0"></label>
            <input asp-for="BaslamaSaati" class="form-control" />
            <span asp-validation-for="BaslamaSaati" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="BitisSaati" class="p-0"></label>
            <input asp-for="BitisSaati" class="form-control" />
            <span asp-validation-for="BitisSaati" class="text-danger"></span>

        </div>

        @if (Model != null)
        {
            <button type="submit" class="btn btn-success" style="width: 200px">Güncelle</button>
        }
        else
        {
            <button type="submit" class="btn btn-success" style="width: 200px">Yeni Randevu</button>
        }
        <a asp-controller="Randevu" asp-action="Index" class="btn btn-success" style="width: 200px">
            Randevulara Dön
        </a>

    </div>

</form>